<form class="settings-form">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Add Item &nbsp; </h2>
		</div>
	</md-toolbar>
	<div layout-gt-xs="row">
		<center><h4 style="color:red;">{{errorMessage}}</h4></center>
		<md-input-container class="md-block" flex-gt-xs>
			<label>Title</label>
			<input ng-model="project.title">
		</md-input-container>
		<md-input-container class="md-block" flex-gt-xs>
			<label>Description</label>
			<input ng-model="project.description">
		</md-input-container>

		<md-autocomplete flex required
            md-input-name="autocompleteField"
            md-input-minlength="2"
            md-input-maxlength="18"
            md-no-cache="true"
            md-selected-item="selectedItem"
            md-search-text="searchText"
            md-items="item in querySearch(searchText)"
            md-item-text="item.department_name"
            md-floating-label="Department">
          <md-item-template>
            <span md-highlight-text="searchText">{{item.department_name}}</span>
          </md-item-template>      
        </md-autocomplete>
	</div>
	<md-dialog-actions layout="row">
		<md-button aria-label="Submit" ng-click="submitProject()" id="submit">Submit</md-button>
		<md-button aria-label="Remove" ng-click="cancel()" id="cancel">Cancel</md-button>
	</md-dialog-actions>
</form>