
<form class="settings-form width">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Add Project Proposal&nbsp; </h2>
		</div>
	</md-toolbar>
	<table>
	<tr>
	<td>
	<div ng-controller="projectEditCtrl" ng-cloak id=left >
   <!-- <form ng-app="textEditApp" method="post" ng-controller="TextEditCtrl"> -->
    <textarea id="proposal" ui-tinymce="tinymceOptionsAdd" ng-model="tinymceModel"></textarea>
	</div>
	</td>
	<td id=right>
    <!-- </form> -->
	<div >
		<center><h4 style="color:red;">{{errorMessage}}</h4></center>
		<md-input-container class="md-block" flex-gt-xs>
			<label >Title</label>
			<input ng-model="project.title">
		</md-input-container>

		<md-autocomplete required id=padding
            md-input-name="autocompleteField"
            md-input-minlength="1"
            md-input-maxlength="18"
            md-no-cache="true"
            md-selected-item="selectedItem"
            md-search-text="searchText"
            md-items="item in querySearch(searchText)"
            md-item-text="item.department_name"
            md-floating-label="Department">
          <md-item-template>
            <span id=padding md-highlight-text="searchText">{{item.department_name}}</span>
          </md-item-template>      
        </md-autocomplete>
      <md-chips ng-model = "selectedKeyword" placeholder="Related Descriptors">
      </md-chips>
      <div id=buttonholder>
			<md-button id=submit aria-label="Submit" ng-click="submitProject()" id="submit">Submit</md-button>
			<md-button id=cancel aria-label="Remove" ng-click="cancel()" id="cancel">Cancel</md-button>
	</div>
      </div>
      </td>
     </tr>
     </table>

		<!-- <div id=center>
		<div id=desc contenteditable="true" placeholder="Project Proposal"  ></div>
		</div> -->



</form>
