md-content.fixed {
	/*position: fixed;*/
	width: 100%;
	/*z-index: 1000;*/
}

div.navBarSearch {
	color: white;
	width: 100%;
	padding: 0px;
	padding-right: 1%;
	padding-left: 1%;
}

.buttonstyle{
	vertical-align: text-bottom;
}

md-input-container.navBarSearchContainer {
	padding: 0px;
}

input.navBarSearchTextInput {
	background-color: white;
	border-radius: 1.1px;
	font-size: 16px;
}

md-toolbar.navBarClass {
	background-color: #093A7D;	
}

#avatar {

    background-size: cover;

    background-position: center;

    border-radius: 50%;
}