<div ng-app="navBarApp">
  <md-content class="fixed" ng-controller= "NavBarCtrl as ctrl" ng-cloak>
    <md-toolbar class="navBarClass" md-scroll-shrink ng-if="true" layout="row" layout-align="space-between center">
      <div class="md-toolbar-tools md-toolbar-top">  
        <md-button ng-if="!mainView" class="md-raised md-primary" aria-label="home" ng-click="home()" >home</md-button>
        <md-button ng-if="mainView" class="md-raised md-primary" aria-label="toProfile" ng-click="toProfile()" >profile</md-button>
        <div class="navBarSearch">

          <md-input-container class="navBarSearchContainer" md-no-float flex>
            <input class="navBarSearchTextInput" ng-model="search" ng-change="onSearch(search)" placeholder=" search...">
          </md-input-container>

        </div>
        <md-button ng-if="user.ready" class="md-fab md-primary md-hue-2 md-mini" id="add-button" aria-label="Add Project" ng-click="addProject($event)">
			     <md-icon class="buttonstyle" md-svg-icon="static/img/add.svg"></md-icon>
		    </md-button>
        <md-button class="md-raised md-primary" id="authorize-button" style="visibility: hidden" >login</md-button>
        <img ng-if="user.profpic" id="avatar" alt="pic" ng-src="{{ user.profpic }}" class="md-avatar" />
      </div>
    </md-toolbar>
  </md-content>
</div>