<div ng-app="statsApp" ng-controller="StatsCtrl" ng-cloak>
    <div layout="vertical" flex>
        <md-sidenav style="height:100%" class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-light">
		          <h1 class="md-toolbar-tools" ng-cloak>Hello {{user.fullName}}!</h1>        
            </md-toolbar>
            <md-content>
                <h1>Charts</h1>
                <form ng-submit="getCommitData()">
                    User: <input ng-model="user"></input>
                    Repo: <input ng-model="repo"></input>
                    <input type="submit" value="Get Data">
                    Grouped <input type="checkbox" ng-model="grouped">
                  </form>

                  <p class="error">{{error}}</p>
                  <gh-visualization val="data" grouped="grouped"></gh-visualization>
            </md-content>
        </md-sidenav>
    </div>
</div>