<!-- <body style="overflow: auto;">
	<div ng-app="SparrowApp" class="container" ng-controller="projectListCtrl" ng-cloak >	
		<div class='md-padding' layout="row" layout-wrap>
	      <md-card style="width: 300px;" ng-repeat="project in projectList | filter:search">
	        <md-card-title>
	        	<img src="http://placehold.it/100x100" class="md-card-image" alt="user avatar">
	          <md-card-title-text>
	            <span class="md-headline">{{project.title}}</span>
	            <span class="md-subhead">{{project.description}}</span>
	          </md-card-title-text>
	          <md-card-title-media>
	            <div class="md-media-lg card-media"></div>
	          </md-card-title-media>
	        </md-card-title>
	        <md-card-actions layout="row" layout-align="end center">
	          <md-button>Action 1</md-button>
	          <md-button>Action 2</md-button>
	        </md-card-actions>
	      </md-card>
	    </div>
	</div>
</body> -->

<body style="overflow: auto;">
	<div ng-app="SparrowApp" class="container" ng-controller="projectListCtrl" ng-cloak >	
		<table md-colresize="md-colresize" class="md-table">
			<thead>
				<tr class="md-table-headers-row">
					<th class="md-table-header"><h5>User</h5></th>
					<th class="md-table-header"><h5>User</h5></th>
					<th class="md-table-header"><h5>User</h5></th>
					<th class="md-table-header"><h5>User</h5></th>
				</tr>
			</thead>
		</table>
	</div>
</body>