<div ng-app="projectListApp" ng-controller="projectListCtrl" id="outer" ng-cloak>
	<md-list>
		<md-subheader class="md-no-sticky">All Projects</md-subheader>
		<md-list-item class="card md-3-line" ng-click="viewProject(project)" ng-model="prj" ng-repeat="project in projectList | filter:search">
			<div class="avatar tooltip">
	  			<span class="tooltiptext">{{project.first_name}} {{project.last_name}}</span>

	  			<div>
	  				<img class="avatarImage" ng-if="project.profile_picture" ng-src="{{ project.profile_picture }}"/>
	  			</div>

				<div ng-if="!project.profile_picture">
					<span class="avatarLetter">{{project.first_name[0]}}</span>
				</div>
			</div>
			<div class="md-list-item-text">
				<h3 class="projectTitle">{{project.title}}</h3>
				<p>{{project.count}}</p>

				<h6 style="display:inline-block;" class="projectTimeStamp">{{project.time_stamp.slice(0,-15)}}</h6>
				<span flex></span>
				<!-- <p>{{project.description.replace(/(<([^>]+)>)/ig,"")}}</p> -->
				<div id="{{project.projectID}}" class="stuffnthings"></div>

				<script type="text/javascript">

					var appElement = document.querySelector('[ng-app=projectListApp]');
					var scope = angular.element(appElement).scope()
					// console.log(appElement);
					// console.log(scope.projectList);
					// console.log("CLASSS",document.getElementsByClassName("stuffnthings")[0].id);
					console.log("SCOPE",scope.project);


					// var desc = appElement.getElementById("projectDescription").insertAdjacentHTML("beforeBegin",projDesc);
				</script>
			</div>
			<div ng-repeat="v in [0]">
				<md-checkbox class="greenCheck md-secondary" ng-if="project.email != user.email" aria-label="Checkbox" ng-model="project.liked" style="display:inline-block;" ng-change="checked(project.projectID)"></md-checkbox>
			</div>
		</md-list-item>
		<!-- <md-list-item ng-repeat="person in people" ng-click="goToPerson(person.name, $event)">
		    <img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
		    <p>{{ person.name }}</p>
		    <md-icon md-svg-icon="communication:messenger" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"></md-icon>
		</md-list-item> -->
	</md-list>
</div>