<div ng-app="textEditApp" ng-controller="TextEditCtrl" class="container" ng-cloak >
	<md-content class="md-padding" layout-xs="column" layout="row">
		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<md-toolbar layout="row" class="md-hue-3">
					<md-button ng-click="back()" class="md-raised md-primary" style="border-radius: 0; margin: 0; margin-right: 10px;">
						<md-icon md-svg-icon="static/img/returnWhite48.svg" style="padding: 0;"></md-icon>BACK
					</md-button>
					<h1>{{currentProject.title}}</h1><span flex></span><h4 style="margin-right: 10px;">{{currentProject.first_name}} {{currentProject.last_name}}</h4>
				</md-toolbar>

				<div  class="ifEditing" ng-show="!viewOnly" ng-hide="viewOnly">
					<md-card-content>
						<div ng-cloak>
							<textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
						</div>
					</md-card-content>
					<md-toolbar class="md-warn md-hue-3">
						<div class="md-toolbar-tools">
							<md-card-actions layout="row" layout-align="end center">
								<md-button class="md-raised" ng-click="save()">Save</md-button>
								<md-button class="md-raised" aria-label="Cancel" ng-click="cancel()">Cancel</md-button>
							</md-card-actions>
						</div>
					</md-toolbar>
				</div>
			</md-card>
		</div>
	</md-content>
</div>