<body style="overflow: auto;">
	<div ng-app="SparrowApp" class="container" ng-controller="projectCtrl" ng-cloak >
		<div ng-app="textEditApp" ng-controller="TextEditCtrl" ng-cloak>
		   <!-- <form ng-app="textEditApp" method="post" ng-controller="TextEditCtrl"> -->
	        <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
		    <button ng-click="getContent()">Get content</button>
		    <button ng-click="setContent()">Set content</button> 
	        <!-- </form> -->
	    </div>
	</div>
	
</body>