.top {
	position: absolute;
	height: 100px;
	width: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: auto;
}
.middle {
	position: absolute;
	height: auto;
	width: auto;
	left: 0;
	right: 0;
	top: 100px;
	bottom: 0;
}
.right {
	position: absolute;
	height: auto;
	width: 200px;
	left: auto;
	right: 0;
	top: 0;
	bottom: 0;
}
.main {
	position: absolute;
	height: auto;
	width: auto;
	left: 0px;
	right: 200px;
	top: 0;
	bottom: 0;
} 