.top {
	/*border: 1px solid red;*/
	z-index:10000;
	position: fixed;
	height:5%;
	width: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: auto;
}
.middle {
	/*border: 1px solid blue;*/
	position: absolute;
	height: auto;
	width: auto;
	left: 0;
	right: 0;
	top: 10%;
	bottom: 0;
}
.right {
	/*border: 1px solid red;*/
	position: fixed;
	/*z-index:1000;*/
	/*top:10%;*/
	height: auto;
	width: 22%;
	left: auto;
	right: 0;
	top: 0;
	bottom: 0;
	padding-top: 5%;
}
.main {
	/*border: 5px solid green;*/
	position: absolute;
	height: auto;
	width: 77%;
	left: 0;
	right: auto;
	top: 0;
	bottom: 0;
	padding-top: 5%;
} 