<body style="overflow: auto;">
	<div ng-app="SparrowApp" class="container" ng-controller="UserCtrl" ng-cloak >	
		<div class='md-padding' layout="row" layout-wrap>
	      <md-card style="width: 300px;">
	          <div class="child" style="width:100%;">
	          	<h1> 4 </h1>
	          	<h4>Open</h4>
	          </div>
	          <md-card-content>
	            <h2>TOTAL</h2>
	          </md-card-content>
	          <div class="md-actions" layout="row" layout-align="end center">
	            <md-button>Save</md-button>
	            <md-button>View</md-button>
	          </div>
	        </md-card>
	        <md-card style="width: 300px;">
	          <div class="child" style="width:100%;">
	          	<h1> 4 </h1>
	          	<h4>Open</h4>
	          </div>
	          <md-card-content>
	            <h2>FULL</h2>
	          </md-card-content>
	          <div class="md-actions" layout="row" layout-align="end center">
	            <md-button>Save</md-button>
	            <md-button>View</md-button>
	          </div>
	        </md-card>
	        <md-card style="width: 300px;">
	          <div class="child" style="width:100%;">
	          	<h1> 4 </h1>
	          	<h4>Open</h4>
	          </div>
	          <md-card-content>
	            <h2>INTERESTED</h2>
	          </md-card-content>
	          <div class="md-actions" layout="row" layout-align="end center">
	            <md-button>Save</md-button>
	            <md-button>View</md-button>
	          </div>
	        </md-card>
	    </div>
	</div>
</body>